/* src/pages/HomePage.css */

.homepage-container {
  background-image: url('/public/assets/images/background1.avif'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  min-height: 120vh; /* Increase the minimum height to allow for scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Space between top content and sliders */
  color: white; /* Adjust text color for visibility */
  padding: 20px; /* Add some padding for responsiveness */
  padding-bottom: 60px; /* Add bottom padding to ensure space below sliders */
}

.info-box {
  margin-top: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  border-radius: 10px; /* Rounded corners */
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Set a maximum width for larger screens */
  text-align: center; /* Center text */
  color: white; /* Ensure text is readable */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
}

.info-box h2 {
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: bold;
}

.info-box p {
  font-size: 1em;
  line-height: 1.5;
}

.sliders-row {
  display: flex;
  justify-content: space-around; /* Space sliders evenly */
  width: 100%;
  margin-bottom: 60px; /* Add margin at the bottom of the sliders row */
}

.slider-section {
  flex: 1; /* Each slider takes up an equal portion of the available space */
  max-width: 30%; /* Limit the maximum width of each slider */
  text-align: center;
}

.slider-container {
  position: relative; /* Ensure positioning context for arrows */
  padding: 20px 0;
}

.slider-image {
  max-width: 100%; /* Ensure the images fit within the slider */
  height: auto;
  max-height: 200px; /* Set a maximum height for the images */
  display: block; /* Ensure images are block level elements */
  margin: 0 auto; /* Center images horizontally within container */
}

/* Custom styles for the slick slider arrows */
.slick-prev,
.slick-next {
  color: black !important; /* Set the arrow color to black */
  z-index: 1; /* Ensure arrows are above other elements */
  position: absolute; /* Position the arrows absolutely */
  top: 50%; /* Vertically center the arrows */
  transform: translateY(-50%); /* Adjust for centering */
}

.slick-prev {
  left: -20px; /* Adjust the position to the left */
}

.slick-next {
  right: -20px; /* Adjust the position to the right */
}

.slick-prev:before,
.slick-next:before {
  color: black; /* Set the arrow icon color to black */
}

.slick-prev:hover,
.slick-next:hover {
  color: black !important; /* Keep the arrow color black on hover */
}

.slick-prev:before:hover,
.slick-next:before:hover {
  color: black; /* Keep the arrow icon color black on hover */
}

.sliderHead {
  color: black;
}

.produly {
  color: white;
}