/* src/pages/LoginPage.css */

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to start (top) */
  align-items: center;
  min-height: calc(100vh - 120px); /* Full viewport height minus space for navbar and footer */
  background-color: #ffffff;
  padding: 2px 2px; /* Add padding to prevent touching navbar and footer */
  padding-top: 40px; /* Optional: Add padding to adjust the top spacing */
  color: #000000;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container {
  background-color: #333;
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-container h1,
.login-container h2 {
  margin: 20px 0; /* Space above and below */
  padding: 10px 50px; /* Add internal spacing for h1 and h2, increased left/right padding */
  background-color: transparent; /* Ensure no background interference */
  text-align: center; /* Center the text */
  box-sizing: border-box; /* Include padding in the element's dimensions */
  width: 100%; /* Ensure it respects the container width */
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.homepage-container {
  background-image: url('/public/assets/images/background1.avif'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0); /* Adjust text color for visibility */
}

.error-message {
  color: red; /* Error text color */
  margin-top: 10px; /* Add space above the message */
  font-size: 0.9em; /* Adjust font size */
  text-align: center; /* Center-align the message */
}

.loginHeader {
  color: white
}