/* src/pages/SignupPage.css */

.page-container {
  background-image: url('/public/assets/images/background1.avif'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to start (top) */
  padding-top: 40px; /* Optional: Add padding to adjust the top spacing */
  color: white; /* Adjust text color for visibility */
}

.signup-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); /* Full viewport height minus space for navbar and footer */
  background-color: #ffffff;
  padding: 2px 2px; /* Add padding to prevent touching navbar and footer */
  color: black;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-container {
  background-color: #333;
  padding: 40px; /* Increase padding for more space around content */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.signup-container h1 {
  margin-bottom: 20px; /* Ensure there's space below the h1 element */
}

.signup-container h2 {
  margin-bottom: 20px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-container button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

.signupHeader {
  color: white;
}