.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}

.modal-content {
  background: #fff;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding: 20px; /* Add padding for spacing */
  border-radius: 0; /* Remove border radius for full-page view */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  position: relative;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.modal-close {
  position: absolute;
  top: 20px; /* Position at the top */
  right: 20px; /* Position at the right */
  background: none;
  border: none;
  font-size: 24px; /* Larger font size for visibility */
  cursor: pointer;
}

.modal-image {
  max-width: 100%; /* Allow image to take full width */
  height: auto;
  margin-bottom: 20px; /* Add margin below the image */
}

.modal-details {
  flex-grow: 1; /* Allow details to take up remaining space */
  text-align: center; /* Center align text */
}

.modal-name {
  font-size: 28px; /* Increase font size for better readability */
  font-weight: bold;
  margin: 10px 0;
}

.modal-description {
  font-size: 18px; /* Increase font size for better readability */
  margin-bottom: 10px;
}

.quantity-container {
  margin-top: 20px;
}

.add-to-cart-button-modal {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.add-to-cart-button-modal:hover {
  background: #0056b3;
}

.share-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.share-button:hover {
  background-color: #0056b3;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .modal-content {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .modal-close {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .add-to-cart-button-modal {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}

.share-options {
  display: flex;
  flex-direction: row; /* Arrange buttons in a row */
  gap: 10px; /* Add space between buttons */
  margin-top: 20px; /* Add spacing above the share options */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Align buttons vertically */
}

.share-options button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.share-options button:hover {
  background-color: #0056b3;
}