/* src/components/ProductGallery.css */

.product-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-and-sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sorting-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 8px 2px 2px; /* Add padding to top to prevent overlap with navbar */
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: calc(50% - 40px); /* Default to 50% width with 20px gap */
  min-width: 300px; /* Ensure a minimum width */
  max-width: 600px; /* Ensure a maximum width */
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart-button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-card {
    width: calc(100% - 40px); /* Full width for small screens */
  }
}