.banner {
  width: 150%;
  height: 150px; /* Adjust the height as needed */
  background-size: cover;
  background-position: center;
  background-color: #333; /* Fallback background color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative; /* Ensure the banner is relative to its container */
  top: 0; /* Position it at the top */
  left: 0; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it appears above other elements */
  margin-top: -60px; /* Adjust this to match your navbar height */
  margin-bottom: 50px;
}

.banner-content {
  background-color: #333; /* Semi-transparent background for readability */
  padding: 10px; /* Adjust padding if needed */
  border-radius: 10px;
}

.banner p {
  font-size: 16px;
  color: #ffffff;
}

.banner a {
  color: #ffd700; /* Adjust color as needed */
  text-decoration: underline; /* Adjust as needed */
}

.banner a:hover {
  color: #ffa500; /* Adjust color as needed */
}

.info-box {
  margin-top: 100px; /* Add margin to create space between the banner and the element below */
}