/* src/assets/styles/Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px; /* Adding some horizontal padding */
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-text {
  margin: 0;
  flex: 1; /* Allow the text to take available space */
}

.footer-images {
  display: flex;
  justify-content: center;
  flex: 1; /* Allow the images container to take available space */
  gap: 20px; /* Space between the images */
}

.footer-images img {
  height: 50px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}

p {
  color: white;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .footer {
    padding: 5px 10px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer-images img {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }

  .footer-text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer-images {
    gap: 10px;
  }

  .footer-images img {
    height: 30px;
  }
}