.footer {
  background-image: url(/public/assets/images/modernbg.jpg);
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Distribute space between the sections */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  text-align: center;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-top: 0;
  color: #fff;
}

.footer-section p, .footer-section a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-images img {
  width: 120px; /* Default width for the first two images */
  height: 60px;
}

.footer-images img:nth-of-type(3) {
  width: 100px; /* Different width for the third image */
  height: 60px;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  text-align: center; /* Center the text */
  width: 100%; /* Ensure it spans the full width */
}